@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
  background-color: #222222;
  /* background: linear-gradient(to right, #3366cc, #66aaff); */
  color: #fff;
}

.changeImage {
  filter: grayscale(100%);
}
